<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="viewer2.Properties.Settings.dbaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\dbase.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>